.menu_bar a {
    text-decoration: none;

    &:hover {
        text-decoration: underline white;
    }
}

li {
    list-style-type: none;
    text-align: center;
    margin-right: 50px;

    a {
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }
}

input, textarea, .w3-tag, .w3-button, .w3-card {
    border-radius: 12px;
    resize: none;
}

footer .fab {
    font-size: 20px;
    color: #607d8b;
    cursor: pointer;
}

.w3-button:hover {
    background-color: #607d8b !important;
    color: white !important;
}

.w3-tag {
    background-color: #607d8b;
}

.ck-editor__editable {
    min-height: 300px;
}

.error_msg {
    background-color: rgb(121, 32, 32);
}

.underline {
    text-decoration: underline white;
}

@media (max-width: 481px) {
    body {
        margin-top: 50px;
    }

    .ck-editor__editable {
        min-height: 100px;
    }
}
